@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');



* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}



/* Common Styels */

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.btn-primary {
  background-color: white;
  border: 1px solid;
  border-radius: 10px;
  padding: 18px 32px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}


.btn-3{
  background-color: white;
  border: 1px solid;
  padding: 16px 35px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.dark-1 {
  color: #0D1321;
}

.dark-2 {
  color: #0D1321;
  opacity: 70%;
}

.text-description{
  color:#0D1321;
  opacity: 70%;
  line-height: 26px;
}

/* Nav Styles */

nav {
  margin: 35px 150px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav-title {
  font-size: 28px;
  font-weight: bold;
  font-family: "Azeret Mono";
}



/* Hero section */

.hero {
  background-image: url("../assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  margin-bottom: 70px;

}

.hero-title {
  max-width: 60%;
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 24px;
  line-height: 68px;
}

.hero-description {
  max-width: 60%;
  font-size: 16px;
  text-align: center;
  line-height: 26px;
  margin-bottom: 35px;
}



/* Why dev section */


section>div{
  max-width: 1280px;
  margin:0 auto;
  
}
.why-dev{
  background-color: rgba(13,19 ,33, 0.02);
  width: 1140px;
  height: 1200px;
  margin: 0 auto;
  border-radius: 10px;
  padding-top: 48px;
}
.section-header{
  margin-bottom: 48px;
}

.section-title{
  font-size: 32px;
  font-weight: 900;
  text-align: center;
  color:#0D1321;
  margin-bottom: 24px;

}

.section-description{
  line-height: 26px;
  text-align: center;
}

.card-item{
  display: flex;
  justify-content: space-between;
  align-items: start;
  background: linear-gradient(to right, white, rgba(13, 19, 33, 0.01));
  margin: 30px 50px;
  padding: 30px;
  border-radius: 10px;

}

.card-item-reverse{
  flex-direction: row-reverse;
  background: linear-gradient(to left, white, rgba(13, 19, 33, 0.01));
}

.card-item>div{
  width: 50%;
  align-items: center;
  text-align: start;
}

.card-title{
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 20px;
}

.card-item .btn-3{
  margin: 30px 0;
}
